NEXT_PUBLIC_API_URL=http://localhost:3002
NEXTAUTH_URL=http://localhost:3000/api/auth
# Must match the AUTH_JWT_SECRET from the backend
NEXTAUTH_SECRET=your_jwt_secret
# Must match the AUTH_REFRESH_SECRET from the backend
NEXTAUTH_REFRESH_SECRET=your_refresh_secret